<body>
  <div class="row pt-3" *ngIf="!loading">
    <app-detail-affiche [event]="event" [showStatus]="false"></app-detail-affiche>
  </div>
  <div *ngIf="loading">
    <p style="text-align: center;">Loading...</p>
  </div>
  <div class="container mt-3" *ngIf="event?.capacity != 0 && !loading">
    <div class="row pt-3 pb-3">
      <div class="col-9 align-self-center">
        En cas de réservation, veuillez conserver le numéro du ticket fourni dans la section "Mes tickets" pour pouvoir
        le récupérer auprès du point de vente.
      </div>
      <div class="col-3 align-self-end">
        <button class="btn btn-primary ps-3 pe-3 ms-3 " (click)="achat(event.id)">Acheter</button>
        <button class="btn btn-danger ps-3 pe-3 ms-3 " (click)="reserve(event.id)">Réserver</button>
      </div>
    </div>
  </div>
</body>
