<div class="container" style="padding-top: 100px;">

      <h1>Liste des points de ventes</h1>
      <hr>
      <table class="table">
        <thead>
          <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Addresse</th>
            <th scope="col">Téléphone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="sellpoints.length === 0 && !loading">
            <td colspan="4" style="text-align: center;">Aucun points de ventes!</td>
          </tr>

          <tr *ngIf="loading">
            <td colspan="4" style="text-align: center;">
              <div class="spinner-border text-primary col-1" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </td>
          </tr>

          <tr *ngIf="error">
            <td colspan="4" style="text-align: center;">{{error}}</td>
          </tr>

          <tr *ngFor="let sellpoint of sellpoints">
            <th scope="row">{{sellpoint.id}}</th>
            <td>{{sellpoint.name}}</td>
            <td>{{sellpoint.address}}</td>
            <td>{{sellpoint.phoneNumber}}</td>
          </tr>
        </tbody>
      </table>
    </div>
