<body>
  <div class="banner">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
</ul>
    <div class="content">
      <h3>
        L'ART DE L'ÉVÉNEMENTIEL À PORTÉE DE MAIN.</h3>
      <p> CRÉEZ, GÉREZ ET PARTICIPEZ A DES ÉVÉNEMENTS QUI MARQUENT LES ESPRITS.
      </p>
      <div>

        <button class="glow-on-hover mt-3" type="button" (click)="connecter()">SE CONNECTER</button>
      </div>



    </div>

  </div>







</body>
