<body>
  <div class="container">
    <h1 class="title"> Travail realisé par :</h1>
    <div class="row  ">

      <div class="col-3 d-flex flex-column align-items-center">
        <img width="150px" height="150px" class="rounded-circle align-self-center" src="assets/images/salim.jpg" alt="">
        <div class="row">
          <h3 class="names">Mohamed Salim Ben Omrane </h3>
        </div>
      </div>

      <div class="col-2 d-flex flex-column align-items-center">
        <img width="150px" height="150px" class="rounded-circle align-self-center" src="assets/images/may.jpg" alt="">
        <div class="row">
          <h3 class="names">May BenJeddou </h3>
        </div>
      </div>

      <div class="col-2 d-flex flex-column align-items-center">
        <img width="150px" height="150px" class="rounded-circle align-self-center" src="assets/images/omar.jpg" alt="">
        <div class="row">
          <h3 class="names">Omar Hammami </h3>
        </div>
      </div>

      <div class="col-2 d-flex flex-column align-items-center">
        <img width="150px" height="150px" class="rounded-circle align-self-center" src="assets/images/cyrine.jpg"
          alt="">
        <div class="row">
          <h3 class="names">Cyrine Zribi </h3>
        </div>
      </div>

      <div class="col-3 d-flex flex-column align-items-center">
        <img width="150px" height="150px" class="rounded-circle align-self-center" src="assets/images/seddik.jpg"
          alt="">
        <div class="row">
          <h3 class="names">Mohamed Seddik Turki</h3>
        </div>
      </div>
    </div>
  </div>
</body>
