body {
  background-color: #4054b4;
  /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
  height: auto;
}

.container {
  background-color: #4054b4;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 95%;
  max-width: 100%;
  min-height: 95%;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 14px;
  font-family: "Helvetica Nueue", Arial, Verdana, sans-serif;
}

.title {
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  font-size: 44px;
  margin-top: 20px;
  margin-bottom: 50px;
  line-height: 90%;
}

.names {
  color: #ffffff;
  text-align: center;
  margin-top: 25px;
}

.image {
  position: center;
}
