body {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
}

.container {
  background-color: #ffffffcc;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 95%;
  max-width: 100%;
  min-height: 95%;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 60px;
  font-size: 14px;
  font-family: "Helvetica Nueue", Arial, Verdana, sans-serif;
}

.container button {
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.title {
  color: #506A85;
  text-align: center;
  font-weight: 300;
  font-size: 44px;
  margin-top: 20px;
  margin-bottom: 50px;
  line-height: 90%;
}

.ng-invalid.ng-touched {
  border-color: red;
}

.check {
  color: rgb(80, 80, 255);
}

.center-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
